


.header {
  background-color: rgb(235, 235, 235);
  border-bottom: 1px solid rgb(205, 205, 205);
  margin-top: 0;
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  & h2 {
    margin-right: 30px;
    margin-bottom: 0;
  }
  
}

.scale-master {
  width: 100%;
}
button {
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  margin-left: 20px;
  min-height: 40px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgb(191, 191, 191);
  &.active {
    border: 2px solid rgb(58, 121, 255);
    background: rgb(230, 230, 230);
  }
}